@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* --color-primary: #E67E22;
  --color-secondary: #C75B12;
  --color-background: #FFF8F1;
  --color-darknavy: #0F172A;
  --color-foreground: var(--foreground); */
  --color-primary: #E67E22;
  --color-primary-50: #fff3e8;
  --color-primary-100: #ffd9b8;
  --color-primary-500: #E67E22;
  --color-primary-700: #C75B12;
  --color-primary-900: #7a3205;
  --color-primary1: #0EA5E9;

  --deep-ocean: #050B18;
  --mid-ocean: #071A2E;
  --blue-steel: #0B2A4A;
  --glass: rgba(255, 255, 255, 0.06);
  --accent-cyan: #3CF0FF;
  --accent-blue: #4D7CFF;
  --accent-violet: #8B5CFF;

  --text-main: #EAF2FF;
  --text-soft: rgba(234, 242, 255, 0.7);

  /* UI */
  --color-background: #FFF8F1;
  --color-darknavy: #0F172A;
  --color-foreground: #0b0b0b;

  /* Neutral */
  --color-muted: rgba(15, 23, 42, 0.6);
  --color-border: rgba(15, 23, 42, 0.1);

  --font-playfair-display: var(--font-playfair-display);
  --font-bodoni-moda: var(--font-bodoni-moda);
  --font-schibsted-grotesk: var(--font-schibsted-grotesk);
  --font-cormorant-garamont: var(--font-cormorant-garamont);
  --font-dm-serif-display: var(--font-dm-serif-display);
  --font-manrope: var(--font-manrope);
  --font-inter: var(--font-inter);
  --font-heading: var(--font-sans);
  --font-body: "Inter", sans-serif;
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base{
  h1{
    @apply text-6xl font-semibold  font-inter;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

.ImageSlider{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
  180deg,
  #FFF8F1 0%,
  #F5E6D3 50%,
  #0F172A 140%
);
}

.ImageSliderContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000px;
}

.Images{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: clamp(10px, 3vw, 40px); */
  gap: clamp(5px, 1.5vw, 20px);
}

.middleImage{
  height: clamp(250px, 50vw, 40rem);
  width: clamp(180px, 35vw, 30rem);
  object-fit: cover;
  border-radius: 32px;
  box-shadow:
0 20px 60px rgba(0,0,0,0.25);
  z-index: 2;
}

.rightImage,
.leftImage{
  height: clamp(180px, 50vw, 30rem);
  width: clamp(120px, 25vw, 20rem);
  object-fit: cover;
  border-radius: 28px;
  z-index: 0;
  opacity: 0.7;
  filter: blur(clamp(1px, 0.5vw, 3px)) saturate(0.8) ;
}

.rightImage{  
  transform: translateX(15px) scale(0.9) rotate(-8deg);  
}  

.leftImage{  
  transform: translateX(-15px) scale(0.9) rotate(8deg);  
}

@media (max-width: 768px) {
  .rightImage,
  .leftImage {
      display: none;
  }

  .middleImage {
      width: 90vw;
      min-height: 75svh;
  }
}
.hero-content{
  margin-top: 50px;
  padding-left: 0;
  /* position: relative; */
}

.hero-title{
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  /* animation: slide-left 5s linear infinite alternate-reverse both; */
  text-shadow: 6px 18px 2px rgba(0, 0, 0, 0.2);
}

.hero-title1{
  color: var(--color-darknavy);
  text-shadow: 6px 18px 2px rgba(0, 0, 0, 0.2);
  /* text-shadow: 0 2px 20px rgba(255, 255, 255, 0.15); */
}

.pera-text{
  font-style: italic;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 28px;
}

/* @keyframes slide-left {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-30px);
  }
} */

@media screen and (max-width: 500px) {
  .hero-content h3{
      font-size: 30px;
  }

  .hero-title{
      font-size: 70px;
  }

  .hero-content p{
      font-size: 20px;
  }

  .main-btn{
      font-size: 16px;
  }

  .circle-area{
      display: none !important;
  }
}

@media screen and (max-width: 400px) {
  .hero-title{
      font-size: 50px;
  }

  .hero-content h3{
      font-size: 30px;
  }
}

.about-image1{
  margin-top: 12px;
  width: 250px;
  height: 250px;
  border: 5px solid var(--color-yellow-light);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.about-image2{
  max-width: 278px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.about-image2 img{
  width: 100%;
  border-radius: 100px 30px 100px 30px;
}

.about-image3{
  max-width: 278px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.about-image3 img{
  width: 100%;
  border-radius: 100px 30px 100px 30px;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}